.wrapper {
    padding: 20px;
    width: 320px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    width: 44px;
    height: 44px;
    object-fit: cover;
    border-radius: 50%;
}

.following-btn {
    padding: 6px 16px;
}

.body {
    margin-top: 12px;
    color: #161823;
}

.account-info {
}

.account-name {
    font-size: 1.8rem;
}

.check {
    margin-left: 6px;
    font-size: 1.4rem;
    color: #20d5ec;
}

.nickname {
    font-size: 1.4rem;
}

.analytics {
    margin-top: 10px;
    font-size: 1.6rem;
}

.value ~ .value {
    margin-left: 10px;
}

.label {
    color: #161823bf;
}
